<h1>Create a Song</h1>
<form action="songs/new" method="post">
  <label>Song Name: </label>
  <input id="song_name" type="text" name="song[name]">
  <br>
  <label>Artist:</label>
  <input type="text" name="artist[name]">
  <label>Genre: </label>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>
  <input id="submit" type="submit" value="Submit">
</form>
