<h1>Create a Song</h1>
<form action="songs/new" method="post">
  <label>Song Name: </label>
  <input type="text" name="song[name]">
  <br>
  <label>Artist:</label>
  <% @artists.each do |artist| %>
    <input type="checkbox" name="artists[]" value="<%= artist.id %>">
  <% end %>
  <input id="submit" type="submit" value="Submit">
</form>
